.mpp-side-banner {
    max-width: 300px;
    height: 200px;
    display: block;
    border-radius: 15px;
    overflow: hidden;
    padding: 1.5em 1em;
    & p {
        color: #000;
        font-weight: 500;
        font-size: .8125rem;
    }
}

.mpp-side-banner:nth-child(1) {
    & p {
        width: min(100%, 200px);
    }
}

.mpp-side-banner:nth-child(2) {
    & p {
        width: min(100%, 140px);
    }
}