// COMPONENTS (sort by A-Z)
@import "components/mobile/header";
@import "components/desktop/header";

body {
   background-color: rgb(255, 211, 107);
   font-family: "Montserrat";
}

a {
   text-decoration: none;
}

nav {
   padding: 0;
}

ul, li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.wallpaper {
   width: 100%;
}

.container {
   padding: 0 2rem;
   max-width: 1440px;
}

h2 {
   font-size: 1.5rem;
   font-weight: 500;
   margin: 0 0 .5em;
}