{% extends "./_layout.twig" %}

{% block page %}
    <main class="content">
        <div class="grid">
            {% for i in 1..17 %}
                <div class="image-wrap">
                    <picture>
                        <source data-srcset="./img/{{i}}.webp" />
                        <img src="./img/1x1.webp" data-src="./img/{{i}}.jpg" />
                    </picture>
                </div>
            {% endfor %}
        </div>
    </main>
<!-- /.content -->
{% endblock %}