<header class="mpp-header-mobile">
    <div class="container mpp-header-mobile-wrap">
        <div class="mpp-contacts">
            <a class="mpp-contacts-icon">
                {% include '../icons/tg.twig' %}
            </a>
            <a class="mpp-contacts-icon">
                {% include '../icons/phone.twig' %}
            </a>
        </div>
        {% include '../icons/logo.twig' %}
        {% include '../icons/burger.twig' %}
        {% include './_menu.twig' %}
    </div>
</header>
