<section id="main-carousel" class="splide" aria-label="My Awesome Gallery">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="https://source.unsplash.com/random/1000x1000?sig=1" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://source.unsplash.com/random/1000x1000?sig=2" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://source.unsplash.com/random/1000x1000?sig=3" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://source.unsplash.com/random/1000x1000?sig=4" alt="">
      </li>
    </ul>
  </div>
  <div class="splide__pagination">
    {# <button class="splide__arrow splide__arrow--prev">‹</button>
    <span class="splide__pagination__current"></span> / <span class="splide__pagination__total"></span>
    <button class="splide__arrow splide__arrow--next">›</button> #}
    <span class="splide__pagination__current"></span> / <span class="splide__pagination__total"></span>
    </div>
</section>